.form {

    display:inline-block;
    vertical-align: top;
}

.leftM{

    padding-left:40px;

}

table tr {
   border-left: 1px solid black;
}

table td{
    padding-bottom:20px;
}



button {

    width : 180px;
}

.formX select,input {

    width: 180px;
    
}

#treeComponent
{
    margin-top:20px;
}
#leftBar {

    display:inline-block;
    height: 100%;
    background-color: #f3f3f3;
    width: 305px;
    position: fixed;
    top: 44px;
    left: 0;
    padding-top: 7px;
    border-right: 1px solid #e1e1e1;
    z-index: 10;

}

#main{

    margin: 45px 10px 10px 320px;
}

#header1{
    display: flex;
    box-sizing: border-box;
    background: rgb(39, 102, 150);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    min-height: 48px;
    z-index: 1400;
}

.outerGrid{
    display: grid;
    grid-template-columns: 50% 25%;
    grid-template-rows: 50% 25% 25%;
}

.innerGrid{    
  display: grid;
    grid-template-columns: 50% 100%;
    grid-template-rows: 200px 10px
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

#dataset{
    width:100%;
    height:200px;
}
